@font-face {
    font-family: gw2;
    src: url("/fonts/easonpro-regular-webfontwoff") format("truetype");
}

body {
    font-family: 'gw2', Times New Roman, serif;
    font-size: 1rem;
    background-image: url('/images/wallpapers/gw2rol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

nav.navbar {
    background-color: #000!important;
    color: #FFFFFF;
    height: 35px;
}

h1 {
    color: #FFFFFF;
}

.navbar a {
    margin: 0 5px;
}

.container {
    padding: 10px;
}